
{% extends "layout.html.twig" %}

{% block content %}
{% block title %} <h3 class="center">Liste des chapitres</h3> {% endblock%}
 <div class="row" style="margin-bottom: 80px;">
        {% for article in articles %}
            {% if article.state != "brouillon" %}     
                   
                      <div class="card">
                        <div class="card-image">
                           <img class="activator responsive-img" src="Photos/{{article.id}}.jpg">
                          <span class="card-title">{{ article.title }}</span>
                        </div>
                        <div class="card-content">
                          <p>{{ article.content| striptags | truncate(50) }}</p>
                        </div>
                        <div class="card-action">
                          <a class="articleTitle" href="{{ path('article', { 'id': article.id }) }}">Lire l'article</a>
                        </div>
                      </div>
                    
            {% endif %}
        {% endfor %}
 </div><br>
{% endblock %}