
{% extends "layout.html.twig" %}

{% block content %}
{% include 'materialize.html.twig' %}
<div class="container">
    <table>
        <thead>
              <tr>
                  <th>Titre</th>
                  <th>Aperçu</th>
              </tr>
        </thead>
        {% for article in articles %}
            {% if article.state != "brouillon" %}     
                <tr>
                    <td><a class="articleTitle" href="{{ path('article', { 'id': article.id }) }}">{{ article.title }}</a></td>
                    <td>{{ article.content| striptags | truncate(60) }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>
    
{% endblock %}