.articleTitle:hover, .articleTitle:focus {
    text-decoration: none;
}
body { 
    padding-top: 50px; 
}

.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 10px;
    text-align: center;
}

.author {
   font-weight: bold;
   font-size: 1.2em;
}

.reply{
    color: grey;
    font-size: 0.7em;
}

.reply:hover{
    font-weight: bold;
    color: blue;
}

.adminTable {
    margin-top: 20px;
    margin-bottom: 20px;
}