.articleTitle:hover, .articleTitle:focus {
    text-decoration: none;
}
body { 
    padding-top: 50px;
    background-color: white;

}

.navbar-inverse {
    background-color: rgba(51, 122, 183, 0.81);
    border-color: #080808;
}


.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 10px;
    text-align: center;
}

.author {
   font-weight: bold;
   font-size: 1.2em;
}

.reply{
    color: grey;
    font-size: 0.7em;
}

.reply:hover{
    font-weight: bold;
    color: blue;
}

.adminTable {
    margin-top: 20px;
    margin-bottom: 20px;
}

#container {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

h6{
    font-size: 0.2em;
}

#tab-title{
    text-align: center;
}

.comment-box .comment-head {
	background: rgba(51, 122, 183, 0.38);
	padding: 10px 12px;
	border-bottom: 1px solid #E5E5E5;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
        font-weight: bold;
        font-size: 1.2em;
}


.comment-box .comment-name {
	color: #283035;
	font-size: 14px;
	font-weight: 700;
	float: left;
	margin-right: 10px;
}

.comment-box .comment-name a {
	color: #283035;
}

.comment-box .comment-head span {
	float: left;
	color: #999;
	font-size: 13px;
	position: relative;
	top: 1px;
}

.comment-box .comment-content {
	background: rgba(51, 122, 183, 0.07);
	padding: 12px;
	font-size: 15px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #03658c;}
.comment-box .comment-name.by-author:after {
	content: 'autor';
	background: #03658c;
	color: #FFF;
	font-size: 12px;
	padding: 3px 5px;
	font-weight: 700;
	margin-left: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.comment-box .right .btn
{
     background: rgba(38, 166, 84, 0.67);
}

.comment-box .right  .btn a
{
    color: white;
}

.wrapper{
    border-left: solid;
    border-right: solid;
}


.container .article {
    background-color: rgba(51, 122, 183, 0.1);
    /* border: navy; */
    border-radius: 5px 5px 5px 5px;
    /* margin: 20px; */
    padding: 20px;
    width: 107%;
}

h6{
    color: rgba(255, 0, 0, 0.47);
}

.btn, .btn-large {
    text-decoration: none;
    color: #fff;
    background-color: rgba(38, 166, 84, 0.67) !important;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
}

label{
    color: black !important;
    font-size: 1.2em !important;
}

.tab-content
{
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    margin: 10px;
}
.btn-danger {
    color: #fff;
    background-color: #d9534f !important;
}

.navbar-inverse .navbar-brand {
    color: black;
    border: none !important;
}

.navbar-inverse .navbar-nav>li>a {
    color: black;
}

.card-content{
    
    background-color: #7bb1e0;  
}

a{
color: black !important;
}
a:hover{
    font-weight: bold;
}
small{
    color: black !important;
}

.navbar-brand{
    font-size: 2em;
    font-family: sans-serif;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: rgb(89, 147, 197) !important;
}

li.dropdown.open{
    background-color: rgb(89, 147, 197) !important;
}
a.dropdown-toggle{
    background-color: rgba(255, 255, 255, 0) !important;
    
}
ul.dropdown-menu {
    background-color: rgb(89, 147, 197) !important;
}
.navbar-inverse {
    background-color: rgba(51, 122, 183, 0.81);
    border-color: rgba(255, 255, 255, 0);
}
.dropdown-menu>li>a:hover{
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0);
}
div.card-reveal {
        background-color: rgb(123, 177, 224) !important;
}

.button.btn.btn-default {
    color: white !important;
}