

@font-face{
    font-family: Logo;
    src: url('../fonts/Billy.ttf');
}

@font-face{
    font-family: Title;
    src: url('../fonts/JennaSue.ttf');
}





.articleTitle:hover, .articleTitle:focus {
    text-decoration: none;
}
body { 
    padding-top: 50px;
    background-color: white;

}

.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 10px;
    text-align: center;
}

.author {
   font-weight: bold;
   font-size: 1.2em;
}

.reply{
    color: grey;
    font-size: 0.7em;
}

.reply:hover{
    font-weight: bold;
    color: blue;
}

.adminTable {
    margin-top: 20px;
    margin-bottom: 20px;
}

h6{
    font-size: 0.2em;
}

#tab-title{
    text-align: center;
}

.comment-box .comment-head {
	background: rgba(51, 122, 183, 0.38);
	padding: 10px 12px;
	border-bottom: 1px solid #E5E5E5;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
        font-weight: bold;
        font-size: 1.2em;
}


.comment-box .comment-name {
	color: #283035;
	font-size: 14px;
	font-weight: 700;
	float: left;
	margin-right: 10px;
}

.comment-box .comment-name a {
	color: #283035;
}

.comment-box .comment-head span {
	float: left;
	color: #999;
	font-size: 13px;
	position: relative;
	top: 1px;
}

.comment-box .comment-content {
	background: rgba(51, 122, 183, 0.07);
	padding: 12px;
	font-size: 15px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #03658c;}
.comment-box .comment-name.by-author:after {
	content: 'autor';
	background: #03658c;
	color: #FFF;
	font-size: 12px;
	padding: 3px 5px;
	font-weight: 700;
	margin-left: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.comment-box .right .btn
{
     background: rgba(38, 166, 84, 0.67);
}

.comment-box .right  .btn a
{
    color: white;
}


div p{
    text-align: justify !important;
}
.card .card-title {
    font-size: 20px !important;
}

.card .card-content p a{
    color: white !important;
}

.container {
    margin-top: 30px !important;
}

nav .brand-logo{
    font-family: Logo;
    margin-left: 20px !important;
}
h3{
    font-family: Title !important;
    font-size: 4em !important;
}